@model DeleteArticleViewModel

@{
    ViewData["Title"] = "Borrar Artículo";
}

<div class="container mt-5">
    <h1 class="page-section-heading text-center text-secondary mb-0 titleWiki">@ViewData["Title"]</h1>
</div>
<hr />

<h3 class="blockRegisterLogin mt-5 mb-4">¿Estás segur&#64; de que quieres eliminar esto?</h3>
<div class="blockRegisterLogin">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Enabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Enabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Author.CompleteName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.PrimaryCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.PrimaryCategory.Name)
        </dd>
    </dl>
    <partial name="_DeletePartial" />
</div>
